*{  
  padding: 0; 
  margin: 0; 
  box-sizing: border-box;
}
/* #logo{
    display: block;
    background-size: 100%;
    background-repeat: no-repeat;
    position: relative;
    z-index: 2;
    margin: 10px;
    margin-left: 50px;
}
.navbar {
    background-color: rgb(0, 127, 192);
    height: 50px;
    display: flex;
    position: relative;
    justify-content: center;
  }
  
  .nav-menu {
    list-style: none;
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
  }
  
  .nav-item {
    padding: 0 15px;
  }
  
  .nav-item a {
    color: #fff;
    text-decoration: none;
    padding: 15px;
    position: relative;
  padding-bottom: 5px;
  font-family: 'Bebas Neue', cursive
  }  
  .nav-item a:hover {
    color: rgb(88, 215, 255);
  }
  
  .nav-item a::after {
    content: "";
    display: block;
    position: absolute;
    bottom:-10px;
    left: 0;
    right: 0;
    height: 4px; 
    border-radius: 10px;
    background-color: rgb(88, 215, 255); 
    transform-origin: center right;
    transform: scaleX(0);
    transition: transform 0.3s ease; 
  }
  
  .nav-item a:hover::after {
    transform: scaleX(1); 
  }
  .Publication-et-Evenements {
  list-style: none;
  display: none;
  position: absolute;
  top: 50px; 
  width: 150px; 
  background-color: #fff; 
  padding: 10px; 
  z-index: 3; 
  

  }
  .Publication-et-Evenements > li > a {
    display: flex;
    justify-content: center; 
    text-align: center;
  }
  .navbar ul.nav-menu li:hover ul.Publication-et-Evenements{
    list-style: none;
    display:block;
    position: absolute;
    background-color:rgb(0, 127, 192) ;
  }
  .Projets {
    list-style: none;
    display: none;
    position: absolute;
    top: 50px; 
    left: 49rem;
    width: 100px; 
    background-color: #fff; 
    padding: 10px; 
    z-index: 3; 
      
    }
    .Projets > li >a{
    display: flex;
    justify-content: center; 
    text-align: center;
    }
    .navbar ul.nav-menu li:hover ul.Projets{
      list-style: none;
      display:block;
      position: absolute;
      background-color:rgb(0, 127, 192) ;
  
      
    }

  .Subnav-item a{
    text-decoration: none;
    color: #ffffff;

}
  .breadcrumb {
    background-color: #f8f8f8;
    padding: 10px;
  }
  
  .breadcrumb ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .breadcrumb ul li {
    display: inline;
    font-family: 'Bebas Neue', cursive

  }
  
  .breadcrumb ul li:not(:last-child)::after {
    content: ">";
    margin: 0 5px;
    color: #999;
    font-family: 'Bebas Neue', cursive

  }
  
  .breadcrumb ul li a {
    color: #0066cc;
    text-decoration: none;
    font-family: 'Bebas Neue', cursive
  }
  
  .breadcrumb ul li a:hover {
    text-decoration: underline;
  } */
  #logo{
    display: block;
    background-size: 100%;
    background-repeat: no-repeat;
    position: relative;
    z-index: 2;
    margin: 10px;
    margin-left: 50px;
}
.navbar {
    background-color: rgb(0, 127, 192);
    height: 50px;
    display: flex;
    position: relative;
    justify-content: center;
  }
  
  .nav-menu {
    list-style: none;
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
  }
  
  .nav-item {
    padding: 0 15px;
  }
  
  .nav-item a {
    color: #fff;
    text-decoration: none;
    padding: 15px;
    position: relative;
  padding-bottom: 5px;
  font-family: 'Bebas Neue', cursive
  }  
  .nav-item a:hover {
    color: rgb(88, 215, 255);
  }
  
  .nav-item a::after {
    content: "";
    display: block;
    position: absolute;
    bottom:-10px;
    left: 0;
    right: 0;
    height: 4px; 
    border-radius: 10px;
    background-color: rgb(88, 215, 255); 
    transform-origin: center right;
    transform: scaleX(0);
    transition: transform 0.3s ease; 
  }
  
  .nav-item a:hover::after {
    transform: scaleX(1); 
  }
  .Publication-et-Evenements {
  list-style: none;
  display: none;
  position: absolute;
  top: 50px; 
  width: 150px; 
  background-color: #fff; 
  padding: 10px; 
  z-index: 3; 
  

  }
  .Publication-et-Evenements > li > a {
    display: flex;
    justify-content: center; 
    text-align: center;
  }
  .navbar ul.nav-menu li:hover ul.Publication-et-Evenements{
    list-style: none;
    display:block;
    position: absolute;
    background-color:rgb(0, 127, 192) ;
  }
  .Projets {
    list-style: none;
    display: none;
    position: absolute;
    top: 50px; 
    left: 49rem;
    width: 100px; 
    background-color: #fff; 
    padding: 10px; 
    z-index: 3; 
      
    }
    .Projets > li >a{
    display: flex;
    justify-content: center; 
    text-align: center;
    }
    .navbar ul.nav-menu li:hover ul.Projets{
      list-style: none;
      display:block;
      position: absolute;
      background-color:rgb(0, 127, 192) ;
  
      
    }

  .Subnav-item a{
    text-decoration: none;
    color: #ffffff;

}
  .breadcrumb {
    background-color: #f8f8f8;
    padding: 10px;
  }
  
  .breadcrumb ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .breadcrumb ul li {
    display: inline;
    font-family: 'Bebas Neue', cursive

  }
  
  .breadcrumb ul li:not(:last-child)::after {
    content: ">";
    margin: 0 5px;
    color: #999;
    font-family: 'Bebas Neue', cursive

  }
  
  .breadcrumb ul li a {
    color: #0066cc;
    text-decoration: none;
    font-family: 'Bebas Neue', cursive
  }
  
  .breadcrumb ul li a:hover {
    text-decoration: underline;
  }
  /* .Actualite-et-bienvenue{
    height: 100%;
    width: 70%;
    margin: 40px;
    border-radius: 25px;
    border: solid 1px;
    border-color: #e9e9e9;
    background-color: #f8f7f7;
  } */
 .home{ 
  width: 100%; 
  padding: 4rem;
 }  
 .home>h1{ 
  font-size: 3.5rem;
  font-family: 'Bebas Neue', cursive;
  color: #0066cc;
 }
 .home-content{  
    display: flex; 
     flex-direction: column; 
     font-family: 'Bebas Neue', cursive;
     /* width: 50%;  */
     gap: 10px; 
     color: rgb(29, 97, 160);
     padding: 2rem;  
     background-color: rgba(243, 244, 246, 1); 
     border-radius: 12px; 
     height: fit-content; 
     box-shadow: 0 20px 30px -20px rgba(5, 5, 5, 0.24);
    
 }   

 .home2{  
  width: 100%;
  display: flex; 
  height: fit-content;
 }
 .card>p{ 
    color: #111; 
    font-size: 20px; 
  
 }  
 .wrapper{ 
  width: fit-content;
  font-size: 2rem;
  font-family: 'Bebas Neue', cursive;
  color: rgb(45, 110, 171);

 }
  .second{
  font-size: 1.5rem;
  color: black;
  font-family: 'Bebas Neue', cursive; 
  width: fit-content; 
  margin-bottom: 1.5rem;

 }  
 .profile{ 
  display: flex; 
  align-items: center; 
 gap: 1.5rem;
 } 
 .profile_photo{ 
   width: 6rem; 
   height: 6rem; 
   border-radius: 50%;  
   background-color: #fff;  
   display: flex; 
   justify-content: center; 
   align-items: center; 
   
 }
 
  .footer {
    background-color: rgb(0, 127, 192);
    padding: 10px 0;
    text-align: center;
    position: relative;
    top: 85rem;
    height: 15rem;
  }
  .container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    
    align-items: center;
    
  }
  .container .logosite{
    float: left;
    margin: 25px;
    
  }
  .container .logouniv{
    position: relative;
    left: 58rem;
    margin: 15px;
  }
  .footer-info {
    margin-left: 20px; /* Add margin to separate the logos and h3 elements */
    display: flex;
    flex-direction: column; /* Align h3 elements in a column */
    justify-content: center; /* Center items vertically within the container */
    color: white;
    position: relative;
    left: 50px;
  }
  .footer-info h3 {
    margin: 5px 0; /* Adjust the top and bottom margin as needed */
  }

.footer-text {
  font-size: 14px;
  color: #ffffff;
  position: relative;
  top: 150px;
  right: 225px;
}
